Repository my-konflux-stuff/my-definitions: changes, and which Tekton pipelines are due for each by the changed paths.
All: my-definitions-task-copy-files-bb595-on-pull-request, my-definitions-task-init-v01-caef3-on-pull-request

Path conditions:
  my-definitions-task-copy-files-bb595-on-pull-request: (any of: task/copy-files/***) or (any of: .tekton/my-definitions-task-copy-files-bb595-pull-request.yaml)
  my-definitions-task-init-v01-caef3-on-pull-request: (any of: task/init/0.1/***) or (any of: .tekton/my-definitions-task-init-v01-caef3-pull-request.yaml)

run release pipeline inside own tenant
  releases/init-rpa.yaml
  releases/init-tenant-release-plan.yaml
Due: none

update task script
  task/init/0.1/init.yaml
Due: my-definitions-task-init-v01-caef3-on-pull-request

fix component name in rpa
  releases/init-rpa.yaml
Due: none

Add release resources
  releases/init-release.yaml
  releases/init-rpa.yaml
  releases/init-tenant-release-plan.yaml
Due: none

Use PR to build bundle
  .tekton/my-definitions-task-init-v01-caef3-pull-request.yaml
  .tekton/my-definitions-task-init-v01-caef3-push.yaml
Due: my-definitions-task-init-v01-caef3-on-pull-request

update script
  create-release.sh
Due: none

create release dynamically with script
  create-release.sh
  releases/init-release.yaml
Due: none

Set ociStorage in pipelineRef in RPA
  releases/init-rpa.yaml
Due: none

refine files under releases/
  create-release.sh
  releases/init-tenant-release-plan.yaml
  releases/release-plan.yaml
  releases/release-templ.yaml
  releases/rpa.yaml
Due: none

Keep Release CR available for 2 days
  releases/release-plan.yaml
Due: none

chore(init): inspect releaseGracePeriodDays on Release CR
  task/init/0.1/init.yaml
Due: my-definitions-task-init-v01-caef3-on-pull-request

chore(init): update script
  task/init/0.1/init.yaml
Due: my-definitions-task-init-v01-caef3-on-pull-request

fix(config): wrong formatting
  releases/release-templ.yaml
Due: none

feat(config): set gracePeriodDays for manual Release creation
  releases/release-templ.yaml
Due: none

chore(task/tox): versioned task
  task/tox/0.1/tox.yaml
Due: none

Red Hat Konflux kflux-prd-rh03 update task-tox-v01
  .tekton/task-tox-v01-pull-request.yaml
  .tekton/task-tox-v01-push.yaml
Due: none

fix(task/init,task/tox): fix version and cleanup script
  task/init/0.1/init.yaml
  task/tox/0.1/tox.yaml
Due: my-definitions-task-init-v01-caef3-on-pull-request

chore(task/init/,task/tox/): update CEL
  .tekton/my-definitions-task-init-v01-caef3-pull-request.yaml
  .tekton/my-definitions-task-init-v01-caef3-push.yaml
  .tekton/task-tox-v01-pull-request.yaml
  .tekton/task-tox-v01-push.yaml
Due: my-definitions-task-init-v01-caef3-on-pull-request

Onboard task tox
  onboard/task-tox.yaml
Due: none

Set release image repository for task tox
  releases/rpa.yaml
Due: none

Update task init and tox
  task/init/0.1/init.yaml
  task/tox/0.1/tox.yaml
Due: my-definitions-task-init-v01-caef3-on-pull-request

Update tasks script
  task/init/0.1/init.yaml
  task/tox/0.1/tox.yaml
Due: my-definitions-task-init-v01-caef3-on-pull-request

fix CEL
  .tekton/task-tox-v01-pull-request.yaml
  .tekton/task-tox-v01-push.yaml
Due: none

Delete useless tasks so far
  task/copy-files-oci-ta/copy-files-oci-ta.yaml
  task/copy-files-oci-ta/migrations/0.1.sh
  task/copy-files/copy-files.yaml
  task/copy-files/migrations/0.1.sh
Due: my-definitions-task-copy-files-bb595-on-pull-request

Move onboard YAML
  onboard.yaml
Due: none

Update readme
  README.md
Due: none

Merge ReleasePlan and ReleasePlanAdmission
  releases/release-plan.yaml
  releases/rpa.yaml
Due: none

Rename release config file
  releases/release.yaml
Due: none

Make Release CR name prefix general
  releases/release-templ.yaml
Due: none

Restrict working directory
  create-release.sh
Due: none

Refactor Konflux resources layout
  konflux/integration-tests/init.yaml
  konflux/integration-tests/test-pipeline.yaml
  konflux/kustomization.yaml
  konflux/onboard.yaml
  konflux/releases/release-templ.yaml
  konflux/releases/release.yaml
  konflux/releases/tenant-release-pipeline.yaml
Due: none

Make it work in legacy way of building and pushing bundles
  .gitignore
  Makefile
  hack/build-and-push.sh
  pipelines/builder/builder.yaml
  pipelines/builder/kustomization.yaml
  pipelines/kustomization.yaml
Due: none

Add target to add new task
  Makefile
  task-templ.yaml
Due: none

Add new task
  task/publish-artifacts/0.1/publish-artifacts.yaml
  task/publish-artifacts/README.md
Due: none

Add task to builder pipeline
  pipelines/builder/builder.yaml
Due: none

task(publish-artifacts): bump version to 0.1.1
  task/publish-artifacts/0.1/migrations/0.1.1.sh
  task/publish-artifacts/0.1/publish-artifacts.yaml
Due: none

task(publish-artifacts): Add params with default value
  task/publish-artifacts/0.1/publish-artifacts.yaml
Due: none

task(publish-artifacts): Fix wrong task name in definition
  task/publish-artifacts/0.1/migrations/0.1.2.sh
  task/publish-artifacts/0.1/publish-artifacts.yaml
Due: none

task(publish-artifacts): Add an additional param
  task/publish-artifacts/0.1/publish-artifacts.yaml
Due: none
