Repository qijin-bj/my-definitions: changes, and which Tekton pipelines are due for each by the changed paths.
All: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

.tekton/my-definitions-task-init-v01-ew02-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/my-konflux-stuff/my-definitions?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "true"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && (
        "tasks/init/0.1/***".pathChanged() ||
        ".tekton/build-pipeline.yaml".pathChanged() ||
        ".tekton/my-definitions-task-init-v01-ew02-pull-request.yaml".pathChanged()
      )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: my-definitions
    appstudio.openshift.io/component: my-definitions-task-init-v01-ew02
    pipelines.appstudio.openshift.io/type: build
  name: my-definitions-task-init-v01-ew02-on-pull-request
  namespace: cqi-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cqi-tenant/my-definitions-task-init-v01-ew02:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: tasks/init/0.1
  pipelineRef:
    name: build-pipeline
  taskRunTemplate:
    serviceAccountName: build-pipeline-my-definitions-task-init-v01-ew02
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/my-definitions-task-init-v01-ew02-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/my-konflux-stuff/my-definitions?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "false"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch
      == "main" && ( "tasks/init/0.1/***".pathChanged() || ".tekton/my-definitions-task-init-v01-ew02-push.yaml".pathChanged()
      )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: my-definitions
    appstudio.openshift.io/component: my-definitions-task-init-v01-ew02
    pipelines.appstudio.openshift.io/type: build
  name: my-definitions-task-init-v01-ew02-on-push
  namespace: cqi-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cqi-tenant/my-definitions-task-init-v01-ew02:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: tasks/init/0.1
  pipelineRef:
    name: build-pipeline
  taskRunTemplate:
    serviceAccountName: build-pipeline-my-definitions-task-init-v01-ew02
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

Add migration for task 0.1.7
  tasks/init/0.1/init.yaml
  tasks/init/0.1/migrations/0.1.7.sh
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

Add migration to init 0.1.8
  tasks/init/0.1/init.yaml
  tasks/init/0.1/migrations/0.1.8.sh
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

reduce image expiration
  .tekton/my-definitions-task-init-v01-ew02-pull-request.yaml
Due: my-definitions-task-init-v01-ew02-on-pull-request

Add migration to init 0.1.9
  tasks/init/0.1/init.yaml
  tasks/init/0.1/migrations/0.1.9.sh
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

set additional tags
  .tekton/build-pipeline.yaml
Due: my-definitions-task-init-v01-ew02-on-pull-request

Add migration to init 0.1.10
  tasks/init/0.1/init.yaml
  tasks/init/0.1/migrations/0.1.10.sh
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

update init
  tasks/init/0.1/init.yaml
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

Add migration to init 0.1.11
  tasks/init/0.1/init.yaml
  tasks/init/0.1/migrations/0.1.11.sh
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

update task init readme
  tasks/init/0.1/README.md
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

switch to my test
  .tekton/build-pipeline.yaml
Due: my-definitions-task-init-v01-ew02-on-pull-request

Add migration to init 0.1.12
  tasks/init/0.1/init.yaml
  tasks/init/0.1/migrations/0.1.12.sh
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

Add migration to init 0.1.13
  tasks/init/0.1/init.yaml
  tasks/init/0.1/migrations/0.1.13.sh
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

add migration 0.1.14
  tasks/init/0.1/init.yaml
  tasks/init/0.1/migrations/0.1.14.sh
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

add migration 0.1.15
  tasks/init/0.1/init.yaml
  tasks/init/0.1/migrations/0.1.15.sh
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

update init readme
  tasks/init/0.1/README.md
Due: my-definitions-task-init-v01-ew02-on-pull-request, my-definitions-task-init-v01-ew02-on-push

fix: add param SNAPSHOT to test pipeline
  integration-tests/test-pipeline.yaml
Due: none

chore: Rename tasks/ to task/
  task/README.md
  task/init/0.1/README.md
  task/init/0.1/init.yaml
  task/init/0.1/migrations/0.1.1.sh
  task/init/0.1/migrations/0.1.10.sh
  task/init/0.1/migrations/0.1.11.sh
  task/init/0.1/migrations/0.1.12.sh
  task/init/0.1/migrations/0.1.13.sh
  task/init/0.1/migrations/0.1.14.sh
  task/init/0.1/migrations/0.1.15.sh
  task/init/0.1/migrations/0.1.2.sh
  task/init/0.1/migrations/0.1.3.sh
  task/init/0.1/migrations/0.1.4.sh
  task/init/0.1/migrations/0.1.5.sh
  task/init/0.1/migrations/0.1.6.sh
  task/init/0.1/migrations/0.1.7.sh
  task/init/0.1/migrations/0.1.8.sh
  task/init/0.1/migrations/0.1.9.sh
Due: none

Konflux Staging update testcomp
  .tekton/testcomp-pull-request.yaml
  .tekton/testcomp-push.yaml
Due: none

Konflux Staging update my-definitions-ea6e7
  .tekton/my-definitions-ea6e7-pull-request.yaml
  .tekton/my-definitions-ea6e7-push.yaml
Due: none

Konflux Staging purge my-definitions-ea6e7
  .tekton/my-definitions-ea6e7-pull-request.yaml
  .tekton/my-definitions-ea6e7-push.yaml
Due: none
